/*====================
    Custom css styles 
 ======================*/
.lr-font-garamond {
    font-family: 'EB Garamond', serif;
}

.lr-font-poppins,
body {
    font-family: 'Poppins', sans-serif;
}

.lr-text-primary {
    color: #B68C5A;
}

.lr-bg-primary {
    background-color: #B68C5A;
}

.lr-input-color {
    color: #A0A0A0;
}

.lr-title-color {
    color: #414040;
}

.lr-banner-info {
    color: #E7E7E7;
    line-height: 26px;
}

.lr-paragraph {
    color: #707070;
    line-height: 26px;
}

.lr-carousel-paragraph-color {
    color: #F3F3F3;
}

.lr-footer-list-item-color,
.lr-grid-border {
    color: #CFCFCF;
}

.lr-card-border-left {
    border-left: 1px solid #E7E7E7 !important;
}

.lr-card-border-right {
    border-right: 1px solid #E7E7E7 !important;
}

.lr-card-border-top {
    border-top: 1px solid #E7E7E7 !important;
}

.lr-card-border-bottom {
    border-bottom: 1px solid #E7E7E7 !important;
}

/*=============
    Banner
================*/
.banner-container {
    background-image: linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url('../images/banner.png');
    height: 550px;
    background-size: cover;
    background-position: right;
}

/*==================
    Practice area
 ===================*/
.law-card:hover {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    border: 1px solid #E7E7E7;
}

/*==================
 Responsive Design 
 ===================*/

@media only screen and (max-width: 786px) {
    .lr-nav {
        width: 100% !important;
    }

    .banner-container {
        width: 100% !important;
    }

    .banner-inner {
        width: 90% !important;
    }

    .practice-heading {
        width: 100% !important;
    }

    .cards-container {
        width: 90% !important;
    }

    .law-card {
        border: 1px solid #E7E7E7 !important;
    }
}