/* Custom css styles */
.lr-font-garamond {
    font-family: 'EB Garamond', serif;
}

.lr-font-poppins,
body {
    font-family: 'Poppins', sans-serif;
}

.lr-text-primary {
    color: #B68C5A;
}

.lr-bg-primary {
    background-color: #B68C5A;
}

.lr-input-color {
    color: #A0A0A0;
}

.lr-title-color {
    color: #414040;
}

.lr-banner-info-color {
    color: #E7E7E7;
}

.lr-paragraph-color {
    color: #707070;
}

.lr-carousel-paragraph-color {
    color: #F3F3F3;
}

.lr-footer-list-item-color,
.lr-grid-border {
    color: #CFCFCF;
}

.banner-container {
    background-image: linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url('../images/banner.png');
    height: 550px;
    background-size: cover;
    background-position: right;

}

/* Responsive Design */

@media only screen and (max-width: 576px) {
    .lr-nav {
        width: 100% !important;
    }
}